<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Trainer</title>
</head>
<body>
    <h2>Staff Profile</h2>
    Full name: {{data.name}} <br>
    Username: {{data.userName}} <br>
    Age: {{data.age}} <br>
    Phone: {{data.phone_number}} <br>
    Email: {{data.email}} <br>
    Speciality: {{data.speciality}} <br>
    Address: {{data.address}} <br>
    <a href="/admin/update_staff?id={{data._id}}">Update</a>
</body>
</html>