<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Trainer</title>
</head>
<body>
    <h2>Staff Profile</h2>
    Full name: {{base.name}} <br>
    Username: {{base.userName}} <br>
    Age: {{base.age}} <br>
    Phone: {{base.phone_number}} <br>
    Email: {{base.email}} <br>
    Speciality: {{base.speciality}} <br>
    Address: {{base.address}} <br>
    <a href="/admin/update_staff?id={{base._id}}">Update</a>
</body>
</html>