<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Staff</title>
</head>
<body>
    <h2>Update Trainer Profile</h2>
    <form action="editStaff" method="post">
        <input type="hidden" name="txtId" value="{{data._id}}">
        Full name: <input type="text" name="staffName" value="{{data.name}}"> <br>
        Age: <input type="number" name="staffAge" value="{{data.age}}"> <br>
        Phone: <input type="text" name="staffPhone" value="{{data.phone_number}}"> <br>
        Speciality: <input type="text" name="staffSpecicalty" value="{{data.speciality}}"> <br>
        Address: <input type="text" name="staffAddress" value="{{data.address}}"> <br>
        <input type="submit" value="Save">
        <a href="/admin/manage_staff">Cancel</a>
    </form>
</body>
</html>