<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Trainer</title>
</head>
<body>
    <h2>Update Trainer Profile</h2>
    <form action="editTrainer" method="post">
        <input type="hidden" name="txtId" value="{{data._id}}">
        Full name: <input type="text" name="trainerName" value="{{data.name}}"> <br>
        Age: <input type="number" name="trainerAge" min="18" value="{{data.age}}"> <br>
        Phone: <input type="text" name="phone" value="{{data.phone_number}}"> <br>
        Speciality: <input type="text" name="spec" value="{{data.speciality}}"> <br>
        Address: <input type="text" name="address" value="{{data.address}}"> <br>
        <input type="submit" value="Save">
        <a href="/admin/manage_trainer">Cancel</a>
    </form>
</body>
</html>