<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Trainer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Manage Trainers Account</h2>
    <a href="/admin/addTrainer">Add Trainer Account</a>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Username</th>
            <th>Speciality</th>
            <th>Controller</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{name}}</td>
            <td>{{userName}}</td>
            <td>{{speciality}}</td>
            <td>
                <a href="/admin/detail_trainer">Detail -</a>
                <a href="/admin/reset_password?userName={{userName}}">Reset Password -</a>
                <a href="/admin/delete_trainer?userName={{userName}}">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
</html>