<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Trainer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Manage Trainers Account</h2>
    <a href="/admin/addTrainer">Add Trainer Account</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Email</th>
            <th>Speciality</th>
            <th>Controller</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{name}}</td>
            <td>{{age}}</td>
            <td>{{address}}</td>
            <td>{{email}}</td>
            <td>{{speciality}}</td>
            <td>123</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>