<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Staff</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    Full name: {{staff.name}} <br>
    Username: {{staff.userName}} <br>
    Age: {{staff.age}} <br>
    Phone: {{staff.phone_number}} <br>
    Email: {{staff.email}} <br>
    Speciality: {{staff.speciality}} <br>
    Address: {{staff.address}} <br><br>
    <a href="/staff/updateProfileStaff">Update</a>
</body>
</html>