<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Page</title>
</head>
<body>
    <h1>Staff</h1>
    {{#each data}}
    <div>
        <li>FullName: {{name}}</li>
        <li>Age: {{age}}</li>
        <li>Email: {{email}}</li>
        <li>Specialty: {{specialty}}</li>
        <li>Address: {{address}}</li>
        <li><a href="/delete?id={{_id}}">Delete</a><a href="/edit?id={{_id}}">Edit</a></li> 
    </div>
    {{/each}}
</body>
</html>