<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Trainer's Profile</title>
</head>

<body>
	<center><a href="/"><img src="/images/Logo.png" width="250" height="120" /></a></center>
	<h3>{{user.name}}</h3>
	<h3>Role: {{user.role}}</h3>
	<center>
		<div class="function">
			<li><a class="button" href="/trainer">Home</a></li>
			<li><a class="button" href="/logout">Logout</a></li>
		</div>
		<h1 style="font-weight: 100;">Update your profile</h1>

		<form action="updateProfileTrainer" method="post">
			<input type="hidden" name="txtId" value="{{data._id}}">
			Full name: <input type="text" name="trainerName" value="{{data.name}}"> <br>
			Age: <input type="number" name="trainerAge" min="18" value="{{data.age}}"> <br>
			Phone: <input type="text" name="phone" value="{{data.phone_number}}"> <br>
			Speciality: <input type="text" name="spec" value="{{data.speciality}}"> <br>
			Address: <input type="text" name="address" value="{{data.address}}"> <br>
			<br>
			<input type="submit" value="Save">
			<button><a href="/trainer/profileTrainer">Cancel</a></button>
		</form>

	</center>
</body>

</html>