<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>View Course Category</title>
</head>
<body>
    <br>
    <center><img src="/images/Logo.png" width="20%" height="40%"></center>
    <br>
    <div class="function">
        <li><a class="home" href="/staffPage">Home</a></li> 
    </div>
    <br>
    <table bolder = 3>
        {{#each course_cagtegory}}
        <div>
            <tr>
                <th>Course Category ID</th>
                <th>Course Category Name</th>
                <th>Descripton</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>{{courseCategoryID}}</td>
                <td>{{courseCategoryName}}</td>
                <td>{{descriptionCourseCategory}}</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            {{!-- <li>
                <a href="/staff/editCourseCategory?id={{_id}}">Edit</a>
                <a href="/staff/deteleCoursecategory?id={{_id}}">Delete</a>
            </li> --}}
            
        </div>
        {{/each}}
    </table>
</body>
</html>