<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table bolder = 3>
        <div>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Tutor</th>
                <th>Category</th>
                <th>Descripton</th>
                <th></th>
                <th></th>
            </tr>
            {{#each course}}
            <tr>
                <td>{{courseID}}</td>
                <td>{{courseName}}</td>
                <td>{{tutor}}</td>
                <td>{{categoryCourse}}</td>
                <td>{{descriptionCourse}}</td>
                <td>Edit</td>
                <td><a href="/staff/delete?id={{_id}}">Delete</a> </td>
            </tr>
            {{/each}}
            {{!-- <li>
                <a href="/staff/editTrainee?id={{_id}}">Edit</a>
                <a href="/staff/deteleTrainee?id={{_id}}">Delete</a>
            </li> --}}
            
        </div>
    </table>
</body>
</html>