<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <a href="/staff/staffPage">Home</a>
    <a href="/staff/addCourse">Add Course</a>
    <br>
    <br>
    <div class="table-trainee">
        <table bolder = 3>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Tutor</th>
                <th>Category</th>
                <th>Descripton</th>
                <th></th>
            </tr>
            {{#each course}}
            <tr>
                <td>{{courseID}}</td>
                <td>{{courseName}}</td>
                <td>{{tutor}}</td>
                <td>{{categoryCourse}}</td>
                <td>{{descriptionCourse}}</td>
                <td><a href="/staff/delete?id={{_id}}">Delete</a> </td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>
</html>